<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="local" value="http://192.168.13.13:88/nuget" />
		<!--<add key="AspNetRC1" value="https://www.myget.org/F/aspnetrc1/api/v2/" />
		<add key="MyGetV2" value="https://www.myget.org/F/aspnetvnext/api/v2" />
		<add key="MyGetV3" value="https://www.myget.org/F/aspnetmaster/api/v3" />
		<add key="DotNet2015" value="https://dotnet.myget.org/F/aspnetcore-master/api/v3" />
		<add key="DotNet2012" value="https://dotnet.myget.org/F/aspnetcore-master/" />
		<add key="NuGetV2" value="https://nuget.org/api/v2" />
		<add key="NuGetV3" value="https://api.nuget.org/v3" />-->
	</packageSources>
</configuration>